.jfx-tab-pane .headers-region {
    -fx-background-color: #EE5C5C;
}
.jfx-tab-pane .tab-header-background {
    -fx-background-color: #EE5C5C;
}
.jfx-tab-pane .tab-selected-line {
    -fx-stroke: #75bc1b;
    -fx-stroke-width: 3pt;
}